<?xml version="1.0"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WebServiceADContentProviderSoap" />
            </basicHttpBinding>
            <customBinding>
                <binding name="WebServiceADContentProviderSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://adapp.ec2.pl/AdServerWS/WebServiceADContentProvider.asmx"
                binding="basicHttpBinding" bindingConfiguration="WebServiceADContentProviderSoap"
                contract="WebServiceADContentProvider.WebServiceADContentProviderSoap"
                name="WebServiceADContentProviderSoap" />
            <endpoint address="http://adapp.ec2.pl/AdServerWS/WebServiceADContentProvider.asmx"
                binding="customBinding" bindingConfiguration="WebServiceADContentProviderSoap12"
                contract="WebServiceADContentProvider.WebServiceADContentProviderSoap"
                name="WebServiceADContentProviderSoap12" />
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
